@font-face {
    font-family: 'Amazing-Slab-Thin';
    src: url('fontes/Amazing-Slab-Thin-trial.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
}

.image-section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.container {
    background-color: white; /* Fundo branco para o retângulo */
    padding: 20px; /* Espaçamento interno para separar o conteúdo do retângulo */
    text-align: center; /* Centraliza o conteúdo dentro do retângulo */
    margin-top: -20px; /* Espaço acima do retângulo */
}
.Flex2{
    background-color: transparent;
}
.Flex3{
    display: flex;
    justify-content: center;
    background-color: transparent;
}
.Flex4{
    display: flex;
    justify-content: center;
    background-color: transparent;
}
.Flex5{
    display: flex;
    justify-content: center;
    background-color: transparent;
}
.Flex6{
    display: flex;
    justify-content: center;
    background-color: transparent;
}
.topicos {
    display: flex;
    justify-content: center;
    background-color: transparent;
}
.image-section img {
    max-width: 100%; 
    height: auto; 
}

.title-section {
    text-align: center;
}

.site-title {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-style: italic;
    font-size: 10em;
    margin-top: 10px;
}

.search-section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -50px!important;
}
.search-section input {
    width: 40%;
    padding: 10px;
    height: 20px;
    font-size: 1em;
    border-radius: 50px;
    margin-top: -70px; 
}
nav .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    display: flex;
    gap: 100px; /* Espaçamento entre itens */
}

nav ul li {
    display: inline; /* Assegura que os itens estejam em linha */
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    padding: 10px 20px; /* Adiciona padding para clicáveis maiores */
    font-family: 'Montserrat'; /* Aplica a fonte personalizada */
    list-style-type: none;
}
#sobre {
    padding: 70px 80px;
    background-size: cover;
    background-position: center;

}
#textoSobre h1{
    font-family: 'Playfair Display';
    color: #fff;
}
#textoSobre p{
    font-family: 'Montserrat';
    font-size: 1.2em;
    color:#fff;
    text-align: justify;
    line-height: 1.6;
}
.mais-vendidos {
    text-align: center;
    margin: 20px;
}

.mais-vendidos img {
    max-width: 100%;
    height: 300px;
    width: 300px;

}

.mais-vendidos p {
    margin-top: 10px;
    font-family: 'Montserrat'; /* Aplica a fonte personalizada */
    font-size: 1.2em;
    color: rgb(255, 255, 255);
}
.category-product a img{
    width: 300px;
    height: 300px;
    max-width: 100%;
    margin-left: 100px;
    margin-right: 100px;
}
.apresentacao h1{
    color: #fff;
    font-family: 'Aleo';
    text-align: center;
    margin-top: 120px;
}
.social-media a img{
    width: 100px;
    height: 100px;
    max-width: 100%;
    margin-left: 100px;
    margin-right: 100px;
}
.fale-conosco h1{
    font-family: 'Aleo';
    color: #fff;
    margin-top: 200px;
    margin-left: 10px;
}
.fale-conosco p{
    font-family: 'Montserrat';
    color: #fff;
    margin-left: 10px;
    margin-right: 10px;
}
#copy{
    font-family: 'Aleo';
    color: #fff;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.title{
    font-family: 'Aloe';
    color: #fff;
}